[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
soundfile = "*"
matplotlib = "*"
numpy = "*"
jupyter = "*"
pydub = "*"
simpleaudio = "*"
ffmpeg = "*"
opencv-python = "*"
scikit-image = "*"
tk = "*"
tcl = "*"
ffmpy = "*"
mido = "*"
librosa = "*"
traitlets = "*"

[requires]
python_version = "3.6.12"
